.whole-modal{
	background-color:rgb(0, 255, 247);
}

.two-wallets{
	display: flex;
	justify-content: right;
	padding-right: 200px;

}

.wallet-meta{
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: aliceblue;
	border:2px solid rgb(217, 129, 51);
	border-radius: 20px;
	opacity: 0.8;
	overflow: hidden;
	transition: 0.5s;
}

.wallet-meta:hover{
	padding-right: 40px;
	transition: 0.5s;
	border:2px solid #000;
	background-color: rgb(226, 138, 62) ;
	color: #fff;
	opacity: 1;
}

.wallet-defi{
	background-color: aliceblue;
	padding: 10px;
	border:2px solid rgb(68, 72, 194);
	display: flex;
	justify-content: center;
	border-radius: 20px;
	opacity: 0.8;
	overflow: hidden;
	transition: 0.5s;
}

.wallet-defi:hover{
	padding-right: 40px;
	transition: 0.5s;
	border:2px solid #000;
	background-color: rgb(68, 72, 194);
	opacity: 1;
	color: #fff;
}



.written{
	display: flex;
	justify-content: center;
	margin-bottom: -65px;
	padding-top: 5px;
	color: rgb(80, 78, 82);
	font-size: 40px;
	font-weight: 800;
}

.written:hover{
	color: rgb(151, 146, 146);
	text-shadow: 4px 4px 2px rgb(80, 78, 82);
	letter-spacing: 2px;
	transition: 1s;
}

.wall-img{
	filter: drop-shadow(0px 0px 2px rgb(100, 97, 97));
}


/* Crotopia Downloads */

.Crotopia_Downloads{
	background-color: aqua;
	padding-bottom: 3px;
	display: flex;
	justify-content: center;
	transition: 0.5s;
}

.Download_Button_PC{
	background-color: rgb(119, 210, 220);
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
	border: 2px solid rgb(67, 67, 67);
	border-radius: 30px;
	color: #000;
	transition: 0.5s;
}

.Download_Button_PC:hover{
	background-color: rgb(105, 217, 97);
	padding-right: 60px;
	padding-left: 60px;
	border: 1.5px dashed rgb(78, 192, 217);
	transition: 1s;
	color: #fff;
}

.Download_Button_Web{
	background-color: rgb(119, 210, 220);
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
	border: 2px solid rgb(67, 67, 67);
	border-radius: 30px;
	color: #000;
	transition: 0.5s;
}

.Download_Button_Web:hover{
	background-color: rgb(226, 233, 100);
	padding-right: 60px;
	padding-left: 60px;
	border: 1.5px dashed rgb(78, 192, 217);
	transition: 1s;
	color: #fff;
}

.Download_Button_Info{
	background-color: rgb(119, 210, 220);
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
	border: 2px solid rgb(67, 67, 67);
	border-radius: 30px;
	color: #000;
	transition: 0.5s;
}

.Download_Button_Info:hover{
	background-color: rgb(86, 173, 240);
	padding-right: 60px;
	padding-left: 60px;
	border: 1.5px dashed rgb(78, 192, 217);
	transition: 1s;
	color: #fff;
}

.Download_Button_Close{
	background-color: rgb(59, 247, 244);
	padding: 10px;
	padding-right: 19px;
	padding-left: 19px;
	cursor: pointer;
	border: 2px solid rgb(230, 106, 106);
	border-radius: 25px;
	color: rgb(230, 106, 106);
	font-weight: 900;
	transition: 0.5s;
}

.Download_Button_Close:hover{
	background-color: rgb(238, 63, 63);
	border: 1.5px dashed rgb(78, 192, 217);
	transition: 1s;
	transform: rotate(360deg);
	color: #fff;
}
